.teamBlock {
  .title {
    border-style: solid;
    border-width: 0 0 3px 0;
  }

  .profile {
    color: inherit;
    padding: 2px;
    width: 200px;

    &:hover {
      text-decoration: none;
    }

    .imgWrapper {
      height: 300px;
      width: 200px;
      overflow: hidden;
      img {
        max-height: 300px;
        // object-fit: cover; //takes too long to load
        overflow: unset;
        
        // background-repeat: no-repeat;
        // background-position: center;
        // background-size: cover;
        // max-width: none;

        &.private {
          transition: 0s ease-out;
          opacity: 0;
          &:hover {
            opacity: 1;
          }
        }
      }
    }

    p {
      transition: .15s ease-out;
      margin-bottom: 0px;
    }

    &:hover {
      opacity: .9;
      // p {
      //   filter: invert(1);
      // }
    }

    &.dummy {
      background: none;
    }

    
  }
}