.tableBlock {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .tableBlockContents {
    flex: 0 0 auto;
    min-width: 500px;
  }
  p {
    margin-bottom: 0px;
  }
  .title {
    h2 {
      margin-bottom: 0px;
    }
    .decoration{
      border-style: solid;
      border-width: 2px 0 0 0;
      width: 50px;
    }
  }
  .labels {
    h4 {
      margin-bottom: 0px;
    }
  }
}


