// Override default variables before the import
$body-color: #000;

$theme-colors: (
  "purple-deep": #2A004C,
  "purple-dark": #774699,
  "purple-med": #916CB7,
  "purple-light": #AC94D2,
  "grey-light": #EFEFEF,
  "grey-med": #E0E0E0,
  "grey-dark": #828282,
  "light": #F8F8F8,
  "dark": #342E39,
  "purple-translucent": #146faf,
);

@import '~bootstrap/scss/bootstrap.scss';

body {
  background-color: map-get($theme-colors, "light");
}

.App {
  text-align: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 400;
  font-size: 1.1rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5rem;
  color: map-get($theme-colors, "dark");

  p {
    font-size: .85rem;
    @include media-breakpoint-up(md) {
      font-size: 1.05rem;
    }
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant Garamond', serif;
  margin-bottom: 1.2rem;
}

h1 {
  font-size: 2.5rem;

  @include media-breakpoint-up(md) {
    font-size: 4.5rem;
  }
}

h2 {
  font-size: 2.1rem;

  @include media-breakpoint-up(md) {
    font-size: 3.4rem;
  }
}

h3 {
  font-size: 1.4rem;

  @include media-breakpoint-up(md) {
    font-size: 1.8rem;
  }
}

h4 {
  color: map-get($theme-colors, "grey-dark");
  font-size: 1.125rem;
  letter-spacing: inherit;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
  }
}

img {
  max-width: 100%;
  overflow: hidden;
}

.letter {
  img {
    max-height: 350px;
    @include media-breakpoint-up(lg) {
      max-height: 600px;
    }
  }
}

.teamBlock {
  .profile {
    transition: .15s ease-out;
    background-color: map-get($theme-colors, "grey-med");

    &:hover {
      background-color: map-get($theme-colors, "purple-light");
    }
  }
}

.tableBlock {
  .header {
    background-color: map-get($theme-colors, "grey-light");
    border-width: 1px 0 1px 0;
    border-color: map-get($theme-colors, "grey-dark");
    border-style: solid;
  }
  .entry{
    border-width: 1px 0 0 0;
    border-color: map-get($theme-colors, "grey-med");
    border-style: solid;
    &.first {
      border-width: 0;
    }

    .inner {
      div {
        &:first-child {
          font-weight: bold;
          color: map-get($theme-colors, "purple-deep");
        }
      }
    }
  }
}

.teamMemberBlock {
  img {
    max-width: 400px;
    @include media-breakpoint-up(md) {
      max-width: 500px;
    }
  }
  .content {
    .entry {
      h4 {
        color: map-get($theme-colors, "dark");
      }
      p {
        color: map-get($theme-colors, "grey-dark");
      }
      border-bottom: 2px solid map-get($theme-colors, "grey-med");
    }
  }
  .icon {
    background-color: map-get($theme-colors, "grey-dark");
    color: map-get($theme-colors, "light");
  }
}

.contact {
  .mail {
    color: map-get($theme-colors, "purple-med");
    font-weight: bold;
  }
}

.faq {
  .open {
    .answer {
      p {
        max-height: 500px;
        @include media-breakpoint-up(md) {
          max-height: 300px;
        }
        @include media-breakpoint-up(lg) {
          max-height: 250px;
        }
        @include media-breakpoint-up(xl) {
          max-height: 525px;
        }
      }
    }
  }
}

.preReg {
  .innerContent {
    height: 550px;
    @include media-breakpoint-up(md) {
      height: 525px;
    }
  }
}

.navBar {
  .logo {
    .title {
      font-size: 1.2rem;
      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }
    .subtitle {
      font-size: .9rem;
      @include media-breakpoint-up(lg) {
        font-size: 1.1rem;
      }
    }
  }
}

.primary {
  color: map-get($theme-colors, "light");
  background-color: map-get($theme-colors, "dark");

  .btn {
    color: map-get($theme-colors, "light");
    background-color: map-get($theme-colors, "dark");
    border-color: map-get($theme-colors, "dark"); 

    &:active {
      color: map-get($theme-colors, "dark") ;
      background-color: map-get($theme-colors, "light") ;
      border-color: map-get($theme-colors, "dark") ;
    }
    &:hover {
      border-color: map-get($theme-colors, "light"); 
    }
  }
}

.secondary {
  color: map-get($theme-colors, "dark");
  background-color: map-get($theme-colors, "light");

  .btn {
    color: map-get($theme-colors, "light");
    background-color: map-get($theme-colors, "dark");
    border-color: map-get($theme-colors, "light"); 

    &:active {
      color: map-get($theme-colors, "dark") ;
      background-color: map-get($theme-colors, "light") ;
      border-color: map-get($theme-colors, "dark") ;
    }
    &:hover {
      border-color: map-get($theme-colors, "dark"); 
    }
  }
}

.accent {
  color: map-get($theme-colors, "light");
  background-color: map-get($theme-colors, "info");

  .btn {
    color: map-get($theme-colors, "info");
    background-color: map-get($theme-colors, "light");

    &:active {
      color: map-get($theme-colors, "light") ;
      background-color: map-get($theme-colors, "info") ;
      border-color: map-get($theme-colors, "light") ;
    }
    &:hover {
      border-color: map-get($theme-colors, "light"); 
    }
  }
}
